# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\AP_project\project-Team-19\project\.idea/dataSources/
# Editor-based HTTP Client requests
/httpRequests/
